@using BotDetect.Web.Mvc;
@model GasPrice.Web.Models.FaucetViewModel

@section styles {
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .BDC_CaptchaImage {
            margin: 0!important;
        }
        .field-validation-error {
            color: red;
        }
    </style>
}

<h1>tR-BTC Faucet</h1>

@if (string.IsNullOrEmpty(Model.TransactionHash))
{
    using (Html.BeginForm())
    {
<table class="table">
    <tr>
        <td><label for="to" class="col-xs-4">Address</label> (<a href="https://developers.rsk.co/develop/apps/wallets/" target="_blank">need one?</a>)</td>
        <td>
            <input type="text" name="to" placeholder="0x000.." value="@Model.To" />
            @Html.ValidationMessage(nameof(Model.To))
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            @{
                MvcCaptcha exampleCaptcha = new MvcCaptcha(nameof(GasPrice.Web.Models.FaucetViewModel));
                exampleCaptcha.UserInputID = nameof(GasPrice.Web.Models.FaucetViewModel.CaptchaCode);
            }
            @Html.Captcha(exampleCaptcha)
            @Html.TextBoxFor(model => model.CaptchaCode)
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="submit" value="Dispense" onClick="this.form.submit(); this.disabled = true; this.value = 'Dispensing…';" />
            @Html.ValidationMessage(nameof(Model.CaptchaCode))
        </td>
    </tr>
</table>
    }
}
else
{
    @Html.Partial("Ok", Model)
}

<br />

<a href="https://developers.rsk.co/rsk/rbtc/gas/" class="next green-button">Learn more about gas</a>
<a href="https://developers.rsk.co/tutorials/" class="next green-button">Start building</a>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".BDC_CaptchaImageDiv a").remove();
        });
    </script>    
}